h1{
  /*font: underline; */
  text-align: center;
}

.mathgame {
  font-size: 20px;
}

.row{
  position: center center;
}

#slideBar {
  padding: 20px;
}

.question{
  text-align: right;
}

input {
  text-align: left;
}

ul{
  list-style-type: none;
}

.play{
  background-color: black;
  text-align: center;
  height: 100px;
  width: 100px;
  vertical-align: center;
}

.timer {
  /*font-size: 40px;*/
  height: 200px;
  width: 200px;
}